@model Eticaret.Entities.tbl_Kategori
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card">
        <h5 class="card-header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kategori Düzenle</font></font></h5>
        <div class="card-body">
            <form class="needs-validation was-validated" novalidate="" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                        <input type="hidden" value="@Model.Kategori_Id" name="Kategori_Id" />
                        <label for="validationCustom01"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Marka Adı</font></font></label>
                        <input type="text" class="form-control" id="validationCustom01" value="@Model.Kategori" name="Kategori" placeholder="Kategori Adını Giriniz." required="">
                        <div class="valid-feedback">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    İyi görünüyor!
                                </font>
                            </font>
                        </div>
                    </div>

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                        <br />
                        <button class="btn btn-primary" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kategori Güncelle</font></font></button>
                    </div>
                </div>



            </form>
        </div>
    </div>
</div>