@model Eticaret.Entities.tbl_Kategori
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var insertAjaxOptions = new AjaxOptions
    {
        AllowCache = false,
        Url = Url.Action("Ekle"),
        HttpMethod = "post",
        Confirm = "Kategori Eklensin mi?",
        UpdateTargetId = "tblKategori",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "progress",
        LoadingElementDuration = 500
    };
}

<h2>Kategori Ekle</h2>
<div id="progress" class="progress" style="display: none;">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" style="width: 100%"></div>
</div>
<div id="progress" class="progress" style="display: none;">

    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" style="width: 100%"></div>

</div>
<div class="row">
    <div class="col-md-9 col-md-offset-3">

        @using (Ajax.BeginForm(insertAjaxOptions))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">

                <label for="inputText3" class="col-form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kategori Adı:</font></font></label>

                <input type="text" name="Kategori" class="form-control" />
                @Html.ValidationMessageFor(model => model.Kategori, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" value="Kategori Ekle" class="btn btn-success" />
            </div>

        }
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-md-offset-3">
        <h4 class="page-header">Kategoriler</h4>
        <div id="tblKategori">
         @{
             Html.RenderAction("Liste");
         }  
         
        </div>
    </div>
</div>


