@model Chart
@{
    Layout = null;
    @Model.Write();
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EnCokSatisYapanKategori</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
