
@{
    ViewBag.Title = "Uyeol";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="ps-checkout pt-80 pb-80">
        <div class="ps-container">
            <form class="ps-checkout__form" method="post">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 ">
                        <div class="ps-checkout__billing">
                            <h3>Üye Ol</h3>
                            <div class="form-group form-group--inline">
                                <label>
                                    Adı<span>*</span>
                                </label>
                                <input class="form-control" type="text" name="Ad">
                            </div>
                            <div class="form-group form-group--inline">
                                <label>
                                    Soyadı<span>*</span>
                                </label>
                                <input class="form-control" type="text" name="Soyad">
                            </div>
                            <div class="form-group form-group--inline">
                                <label>
                                    Kullanıcı Adı<span>*</span>
                                </label>
                                <input class="form-control" type="text" name="Kullanici_Adi">
                            </div>
                            <div class="form-group form-group--inline">
                                <label>
                                    Şifre<span>*</span>
                                </label>
                                <input class="form-control" type="sifre" name="Sifre">
                            </div>
                            <div class="form-group form-group--inline">
                                <label>
                                    Eposta<span>*</span>
                                </label>
                                <input class="form-control" type="email" name="Eposta">
                            </div>
                            <div class="form-group form-group--inline">
                                <label>
                                    Cep Telefonu<span>*</span>
                                </label>
                                <input class="form-control" type="tel" name="Telefon">
                            </div>
                            <button type="submit" class="ps-btn">Üye ol<i class="ps-icon-next"></i></button>
                        </div>
                    </div>



                </div>
            </form>
        </div>
    </div>
